@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
h1 {
    line-height: 1.3em;
}
p#escolha{
    transform: scale(1.3);
    width: -moz-fit-content;
    width: fit-content;
    margin: 15px auto;
}
#jogo {
    width: 320px;
    height: 320px;
    margin: auto;
    background-image: url(../imagens/jogo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.jogada {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 33.333%;
    height: 33.333%;
    border: 1px solid #0000002f;
}
.jogada:hover {
    background-color: #0000002f;
}
.jogada div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}